<mat-toolbar class="primario">

  
    <mat-tab-group class="custom-tab-group">
      <mat-tab class="custom-tab">
        <ng-template mat-tab-label>
            <mat-icon  fontIcon="home"></mat-icon>
          <a routerLink="/pestana1" routerLinkActive="active">Pestaña 1</a>
        </ng-template>
      </mat-tab>
      <mat-tab class="custom-tab">
        <ng-template mat-tab-label>
            <mat-icon  fontIcon="home"></mat-icon>
          <a routerLink="/pestana2" routerLinkActive="active">Pestaña 2</a>
        </ng-template>
      </mat-tab>
      <mat-tab class="custom-tab">
        <ng-template mat-tab-label>
            <mat-icon  fontIcon="home"></mat-icon>
          <a routerLink="/pestana3" routerLinkActive="active">Pestaña 3</a>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </mat-toolbar>