.titulo {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;  
  background-color: #2B3856;
    color: #009688;
}

  .primario{
    background-color: #2B3856;
    color: #009688;
  }
.titulo span {
  display: inline-block;
  background-color: #2B3856;
 
}